.colaboratics-logo {
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .header {
      padding: 6px;
      background-color: #FFF;
  }

  @media only screen and (min-width: 992px) {
    .navbar-brand {
        width: 38%;
    }
  }

  .nav-link {
      position: relative;
      top: 22%;
  }
