<div (scroll)="onWindowScroll($event)">
    <a [ngxScrollTo]="quienesomos">Click me!</a>

    <div class="row full-screen" id="porquelohacemos">
        <div class="col-lg-5">
            <h1 class="slide-title"><span style="text-decoration: underline; color: #000;">¿Por qué </span>lo hacemos?</h1>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <div class="slide-text">Creemos en el uso de la tecnología como medio para mejorar nuestra calidad de vida y ser una mejor sociedad.
            </div>
        </div>
    </div>
    <div class="row full-screen" id="quienesomos" #quienesomos>
        <div class="col-12">
            <h1 class="slide-title">¿Quienes somos?</h1>
            <h2 class="slide-text">Somos una empresa formada por profesionales del mundo de tecnología, con amplia experiencia desarrollando e implementado soluciones de tecnologías, colaboración y seguridad informática para empresas.
            </h2>
        </div>
    </div>
    <div class="row full-screen" id="infraestructura">
        <div class="col-12">
            <h1 class="slide-title">INFRAESTRUCTURA DE TI</h1>
            <h2 class="slide-subtitle">Acelera el futuro</h2>
            <div class="slide-text">Asegura, respalda y protege a tu organización con una inversión inteligente</div>
            <div class="hashtags">#equiposdeescritorio #notebooks #servidores #licenciamiento #almacenamiento #networking #virtualización #hiperconvergencia #servicios #backup #continuidaddenegocio
            </div>
        </div>
    </div>

    <div class="row full-screen" id="distancelearning">
        <div class="col-12">
            <h1 class="slide-title">COLABORACIÓN</h1>
            <h2 class="slide-subtitle">Transforma tu empresa</h2>
            <div class="slide-text">Prepara a tu organización para esta nueva forma de trabajar</div>
            <div class="hashtags">#teletrabajo #teleeducación #pantallasinteractivas #camarasweb #videoconferencia #colaboración #headsets #confortparateletrabajo</div>
        </div>
    </div>
    <div class="row full-screen" id="cyberseguridad">
        <div class="col-12">
            <h1 class="slide-title">CYBERSEGURIDAD</h1>
            <h2 class="slide-subtitle">Proteje tus activos e información</h2>
            <div class="slide-text">Protégete de los ataques, secuestro de información y demás riesgos cibernéticos</div>
            <div class="hashtags">#assesmentdeseguridad #antivirus #antimalware #seguridadperimetral #respaldoalanube #análisisderiesgos #DLP #consultoríadeseguridad</div>
        </div>
    </div>


</div>