@import 'fonts.less';
@import 'navbar.less';
@import 'btn.less';


.fa {
  color: #fff;
}

body {
  font-family: 'Brown-Pro-Light';
  font-size: 17px;
  line-height: 22px;
  color: #222;
}

html,
body {
  height: 100%;
}

#wrapper {
  position: relative;
  height: auto;
  min-height: 90vh;
}

#page-content {
  position: relative;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.btn-primary {
  color: #fff !important;
  background-color: #009ADA;
  border-color: #009ADA;
}

.btn {
  padding: 12px 36px;
  border-radius: 9px;
}

.btn:hover {
  background-color: #131E4F;
  color: #fff !important;
  border-color: #131E4F;
}

.btn:active,
.btn:target {
  background-color: #131E4F;
  color: #fff !important;
  border-color: #131E4F;
}

.bold {
  font-family: Brown-Pro-Bold;
  color: #222;
}

.uppercase {
  text-transform: uppercase;
}
